@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@400;800&family=Roboto:wght@400;700&display=swap');

* {

    margin: 0;
    padding: 0;
}

:root {
    --primary: #D6000D;
    --primary-hover: hsl(356, 100%, 50%);
    --gray: #d5d5d5;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

/* ====== NAVEGATION =================================================*/

button:hover {
    color: white;
    background: var(--primary-hover);
}


button {
    background: var(--primary);
    color: white;

    font-size: 2rem;
    font-weight: 700;

    width: 37rem;
    padding: 1.5rem 0rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.wrapper {
    padding-inline: 2rem;
}

.home img,
.serviços img {
    width: 50rem;
    height: 50rem;
}

ul {
    list-style: none;
}





/* ====== NAVEGATION =================================================*/

body {
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;


}

nav .logo {
    color: var(--primary);
    font-size: 4rem;
    font-weight: 800;

}

nav .logo span {
    color: black;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

nav ul li a,
.login {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    cursor: pointer;
    padding-left: 4rem;

}
nav ul li a:hover {
    color: var(--primary);
}

nav .login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem;
    color: white;
    padding: 0.6rem 3rem;
    border-radius: 0.7rem;

}






/* ====== NAVEGATION =================================================*/

.home .wrapper {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: flex-end;
    padding: 10rem 7rem;

    /* height: 77rem; */
    gap: 8%;
}



.home h2 {
    font-size: 3rem;


}

.home h1 {
    color: var(--primary);
    font-size: 7rem;
    font-weight: 700;
}

.home div {
    display: grid;
    row-gap: 3rem;

}




/* ====== services =================================================*/



.serviços .wrapper {
    margin: 0;

    display: grid;
    grid-template-areas:
        'A B'
        'C C'
    ;

    justify-content: space-between;
    align-items: center;
    padding: 10rem 15rem;



}

.list {
    grid-area: A;

}

.serviços .items {
    display: flex;
    flex-direction: column;
    justify-content: center;


    gap: 2rem;
    /* height: 20rem;
    width: 50rem; */
}

.serviços .items div {
    display: flex;
    gap: 2rem;
}

.serviços .items p {
    font-size: 3rem;
    font-weight: 500;
}

.serviços .items img {

    width: 3rem;
    height: 3rem;
}

.serviços .img {
    grid-area: B;

}



.serviços .sendNumber {

    grid-area: C;


}

.serviços .sendNumber h3 {
    font-size: 2.5rem;
}

.serviços .sendNumber input {
    font-size: 2rem;
    background: var(--gray);
    border: none;
    border-radius: 1rem;
    width: 23rem;
    padding: 1.5rem 2rem;
    margin: 1rem 1rem 0rem 0rem;
    /* display: none; */

}

.serviços .sendNumber button {
    width: 25rem;
}

/* ====== EVIDENCE =================================================*/

.depoimento .wrapper {
    margin: 0;


    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10rem 15rem;
    gap: 1.5rem;

}

.depoimento .evidenceCard {
    max-width: 44rem;
    min-width: 12rem;

    background: var(--gray);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: flex-start;
    
    gap: 1rem;
}

.depoimento .evidenceCard .redBoll {
    background: var(--primary);
    
    min-width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.depoimento .evidenceCard p {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: .8rem;

}
.depoimento .evidenceCard h2 {
    font-size: 2.5rem;
    font-weight: 700;
}
.depoimento .evidenceCard h4 {
    font-size: 1.7rem;
    font-weight: 600;
}




/* ====== RESPONCIVE =================================================*/
.footer {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 5rem;
    
    
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-info li:first-child,
.footer-redes h3 {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}

.footer-info li {
    font-size: 1.4rem;
    font-weight: 500;
}

.footer-info:first-child li:first-child{
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
}

.footer-redes{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer-redes-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-redes-icons svg path{
        stroke: var(--primary);
}


.whatsapp svg path{
    fill: var(--primary);
}

















/* 
footer {
    height: 20rem;
    background: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);


}
footer div {
    display: flex;
    flex-direction: column;
    
}
foo

footer .logo {
    color: var(--gray);
    font-size: 4rem;
    font-weight: 800;

}

footer h3{
    

}
footer p,
footer a {
    color: var(--gray);
    font-size: 1.2rem;
}

footer a {
    max-width: 1rem;
}
 */






/* ====== RESPONCIVE =================================================*/


@media (min-width: 950px) {

    img {
        width: 33rem;
        height: 33rem;
    }
}

@media (max-width: 1050px) {

    img {
        width: 40rem;
        height: 40rem;
    }
}