@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter:wght@400;800&family=Roboto:wght@400;700&display=swap');

* {
    
    margin: 0;
    padding: 0;
}

:root {
    --primary: #D6000D;
    --primary-hover: hsl(356, 100%, 50%);
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

/* ====== NAVEGATION =================================================*/

button:hover {
    color: white;
    background: var(--primary-hover);
}


button {
    background: var(--primary);
    color: white;

    font-size: 2rem;
    font-weight: 700;

    width: 37rem;
    padding: 1.5rem 0rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}




/* ====== NAVEGATION =================================================*/
body {
    /* width: 100vw; */
    height: 100vh;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;


}

nav .logo {
    color: var(--primary);
    font-size: 4rem;
    font-weight: 800;
    
}
nav .logo span {
    color: black;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

nav ul li, .login {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    cursor: pointer;
    padding-left: 4rem;
    
}

nav .login {
    color: white;
    padding: 0.4rem 3rem;
    border-radius: 0.7rem;
}





/* ====== NAVEGATION =================================================*/

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    height: 55rem;
    gap: 8%;
}

.home img,
.serviços img {
    width: 47rem;
    height: 47rem;
}

.home h2{
    font-size: 3rem; 


}
.home h1 {
    color: var(--primary);
    font-size: 7rem; 
    font-weight: 700;
}

.home div {
    display: grid;
    row-gap: 3rem;

}




/* ====== services =================================================*/



.list {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: flex-end;
    height: 55rem;
    
    gap: 8%;   
}

.serviços .items{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 20rem;
    width: 50rem;
}

.serviços .items div{
    display: flex;
    gap: 2rem;
}

.serviços .items p{
    font-size: 3rem;
    font-weight: 500;
}
 
.serviços .items img{
    width: 3rem;
    height: 3rem;
}

.serviços .sendNumber h3 {
    font-size: 3rem;
}
.serviços .sendNumber {
    display: grid;
    
    
    left: 24rem;

}

.serviços .sendNumber input {
    font-size: 2rem;
    background: #d5d5d5;
    border: none;
    padding: 1rem 5rem 1rem 2rem;

}

/* ====== RESPONCIVE =================================================*/


@media (min-width: 950px) {

    img {
        width: 33rem;
        height: 33rem;
    }
}
@media (min-width: 1050px) {

    img {
        width: 40rem;
        height: 40rem;
    }
}